<% flash.each do |flash_type, msg| %>
  <div class = "alert alert-<%= flash_type%>" role = "alert">
    <a href = "#" class = "close" data_dismiss = "alert">×</a>
    <p><%= msg %></p>
  </div>
<% end %>
